/* Importing fonts for website */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Source+Code+Pro:wght@500&display=swap');

/* General styles for all content */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

/* Background gradients and general colour in body */
body {
    background: linear-gradient(-45deg, #48c0ac, #73a128, #adadad, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    color:#4fd821;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

    
}

.btn-start, .guide-box, .game-area, .final-score{
    transition: all 0.5s ease;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Start button styles */
.btn-start button {
    font-family:'Source Code Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4fd821;
    padding: 15px 40px;
    background: black;
    cursor: pointer;
    border: 2px solid #4fd821;
    border-radius: 15px;
    box-shadow: 0 0 20px #4fd821;
}
.btn-start button:hover {
    transition: 0.5s ease;
    background: linear-gradient(90deg, var(--c1, #4fd821), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border: 2.5px solid white;
}

/* Game area styles */
.game-area {
    width: 700px;
    background:#111111;
    border-radius: 15px;
    border: 2px solid #4fd821;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #4fd821;
}
.game-area.showGame{
    pointer-events: auto;
    opacity: 1;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.game-area header {
    height: 80px;
    width: 100%;
    display: flex;
    padding: 0px 40px;
    border-bottom: 2.5px solid;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
    background:#111111;
}

.game-area header #game-title {
    width: 300px;
    height: 55px;
    background:#2a2b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;
    border: 2.5px solid #4fd821;
    border-radius: 15px;
}

.game-area header #game-title i {
    color:white;
}

.game-area header #time {
    height: 55px;
    width: 250px;
    padding: 0 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2a2b2a;
    border: 2.5px solid #4fd821;
}

.game-area header #time #timer-icon {
    user-select: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.game-area header #time #timer-count {
    user-select: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 2.5px solid white;
    
}

.game-area section {
    padding: 30px;
    background:#111111;
}

.game-area section #question-display {
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 10px;
}

.game-area section #answer-select {
     display: block;
     padding: 10px 20px;
}

.game-area section #answer-select .answer {
    display: flex;
    cursor: pointer;
    background: #2a2b2a;
    padding: 15px 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2.5px solid white;
}

#answer-select .answer .correct-icon {
    color: #4fd821;
}

#answer-select .answer .incorrect-icon {
    color: red;
}

.game-area section #answer-select .answer:hover {
    transition: 0.5s ease;
    background: linear-gradient(90deg, var(--c1, #4fd821), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
}
/* correct answer styles */
#answer-select .answer.correct {
    transition: 0.5s ease;
    background: linear-gradient(90deg, var(--c1, green), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200% !important;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px green;
}
/* incorrect answer styles */
#answer-select .answer.incorrect {
    transition: 0.5s ease;
    background: linear-gradient(90deg, var(--c1, red), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200% !important;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px red;
}

#answer-select .answer.muted{
    pointer-events: none;
}

.game-area section #answer-select:last-child {
    margin-bottom: 3px;
}

/* Game area footer styles */
.game-area footer {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    align-items: center;
    padding: 0px;   
    border-top: 1.5px solid white;
}
.game-area footer .progress-bar {
    position:absolute;
    bottom: 120px;
    left: 0px;
    width: 50%;
    height: 6px;
    background: #4fd821;
}

.game-area footer #question-count span {
    user-select: none;
    display: flex;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 25px;
}

footer #question-count span p {
    color: white;
    padding: 0 6px;
    font-weight: 600;
    font-size: 25px;
}

/* Next button */
footer #next-q-button {
    cursor: pointer;
    background: #2a2b2a;
    padding: 15px 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2.5px solid white;
    color:white;
    box-shadow: 0 0 20px #47b124;
}
footer #next-q-button:hover {
    transition: 0.5s ease;
    background: linear-gradient(90deg, var(--c1, #4fd821), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
}


/* Guide box at start styles */
.guide-box {
    width: 700px;
    background:#111111;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #4fd821;
}
/* Shows box when js onclick is active and specifies max stack order  */
.guide-box.showBox {
    pointer-events: auto;
    opacity: 1;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.guide-box .guide-title {
    font-size: 35px;
    font-weight: 400;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 40px;
    border-bottom: 2.5px solid;
    align-items: center;
    justify-content: center;
}

.guide-box .guide-list {
    padding: 30px 40px;
}

.guide-box .guide-list .guide {
    margin: 5px 0px;
    font-family: 'Source Code Pro', sans-serif;
    font-size: large;
}

.guide-box .guide-list .guide span {
    color: white;
    font-weight: 600;
    text-decoration: underline 2px white;
}

.guide-box .buttons {
    height: 70px;
    display: flex;
    padding: 10px 40px;
    border-top: 2.5px solid;
    align-items: center;
    justify-content: center;
}

.guide-box .buttons button {
    cursor: pointer;
    height: 40px;
    width: 400px;
    margin: 10px 10px;
    border: 2px solid #4fd821;
    background: black;
    border-radius: 10px;
    color:#4fd821;
    font-weight: 600;
    transition: all 0.2s ease;
    font-size: 15px;

}


.buttons button.exit {
    color: red;
    border: 2px solid red;
}

.buttons button.restart:hover{
    background:#47b124;
    border:3px solid #47b124;
    color:white;
}

.buttons button.exit:hover{
    background:rgb(196, 19, 19);
    border:3px solid rgb(196, 19, 19);
    color:white;
}
/* End score results box  */
.final-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    background:#111111;
    justify-content: space-between;
    border-radius: 15px;
    border: 3px solid #4fd821;
    padding: 30px 55px;
    box-shadow: 0 0 20px #4fd821;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.final-score #finish-icon {
    color:white;
    margin: 10px 10px;
    font-size: 95px;
}

.final-score #finish-icon span {
    color:palevioletred;
    font-size: 80px;
}

.final-score #finish-title {
    color:white;
    font-weight: 600;
    font-size: 30px;
}

.final-score #finish-result span {
    font-size: 25px;
    display: flex;
    margin: 10px 0;
    font-family: 'Source Code Pro', sans-serif;
}

#finish-result span p {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 700;
    color: white;
    padding: 0px 6px;
}

/* Final score box buttons with gradient styles and hover effects */
.final-score .buttons button {
    cursor: pointer;
    height: 40px;
    width: 400px;
    margin: 10px 10px;
    border: 2px solid #4fd821;
    border-radius: 10px;
    color:#4fd821;
    font-weight: 600;
    transition: all 0.2s ease;
    font-size: 15px;
}

.final-score .buttons .restart {
    background:#47b124;
    border: 1.5px solid white;
    background: linear-gradient(90deg, var(--c1, #4fd821), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200%;
    color: white;

}

.final-score .buttons .restart:hover {
    transition: 0.5s ease;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #4fd821;
}

.final-score .buttons .exit {
    background:#d82121;
    border: 1.5px solid white;
    background: linear-gradient(90deg, var(--c1, #d82121), var(--c2, #2a2b2a) 51%, var(--c1, #000000)) var(--x, 0)/ 200%;
    color: white;
}

.final-score .buttons .exit:hover {
    transition: 0.5s ease;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #d82121;
}
