/* importing fonts for website */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Source+Code+Pro:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background: #2a2b2a;
}

.btn-start {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}